# 4.3
RED
ORANGE
YELLOW
GREEN
BLUE
PURPLE
MAGENTA
WHITE
BLACK
LIGHT_GRAY
GRAY
LIGHT_BLUE
CYAN
COBWEB
LEAVES
VINES
GRASS
SPRUCE_LOG
> spruce_axis
SPRUCE_PLANKS
OAK_LOG
> oak_axis
OAK_PLANKS
COBBLESTONE_WALL
MOSSY_COBBLESTONE_WALL
SPRUCE_STAIRS
OAK_STAIRS
BRICK_STAIRS
RED_SANDSTONE_STAIRS
SANDSTONE_STAIRS
SPRUCE_SLAB
OAK_SLAB
BRICK_SLAB
RED_SANDSTONE_SLAB
SANDSTONE_SLAB
YELLOW_TERRACOTTA
MUSHROOM_STEM