# 4.4
RED=stone
ORANGE=stone
YELLOW=obsidian
GREEN=gray_concrete_powder
BLUE=gray_concrete_powder
PURPLE=cobblestone
MAGENTA=cobblestone
WHITE=snow
BLACK=snow
LIGHT_GRAY=gray_concrete_powder
GRAY=gray_concrete_powder
LIGHT_BLUE=sea_lantern
CYAN=packed_ice
COBWEB=cobweb
LEAVES=air
VINES=air
GRASS=gray_concrete_powder
SPRUCE_LOG=mushroom_stem
> spruce_axis=false
SPRUCE_PLANKS=mushroom_stem
OAK_LOG=mushroom_stem
> oak_axis=false
OAK_PLANKS=mushroom_stem
COBBLESTONE_WALL=cobblestone_wall
MOSSY_COBBLESTONE_WALL=cobblestone_wall
SPRUCE_STAIRS=cobblestone_stairs
OAK_STAIRS=cobblestone_stairs
BRICK_STAIRS=cobblestone_stairs
RED_SANDSTONE_STAIRS=cobblestone_stairs
SANDSTONE_STAIRS=cobblestone_stairs
SPRUCE_SLAB=cobblestone_slab
OAK_SLAB=cobblestone_slab
BRICK_SLAB=cobblestone_slab
RED_SANDSTONE_SLAB=cobblestone_slab
SANDSTONE_SLAB=cobblestone_slab
YELLOW_TERRACOTTA=packed_ice
MUSHROOM_STEM=mushroom_stem
