# 4.2
RED=stone_bricks
ORANGE=cracked_stone_bricks
YELLOW=smooth_stone
GREEN=mossy_stone_bricks
BLUE=mossy_cobblestone
PURPLE=cobblestone
MAGENTA=stone
WHITE=water
BLACK=lava
LIGHT_GRAY=gravel
GRAY=gravel
LIGHT_BLUE=gold_block
CYAN=iron_block
COBWEB=air
LEAVES=air
VINES=air
GRASS=grass
SPRUCE_LOG=dark_oak_log
SPRUCE_PLANKS=dark_oak_planks
OAK_LOG=spruce_log
OAK_PLANKS=spruce_planks
COBBLESTONE_WALL=cobblestone_wall
MOSSY_COBBLESTONE_WALL=mossy_cobblestone_wall
SPRUCE_STAIRS=dark_oak_stairs
OAK_STAIRS=spruce_stairs
BRICK_STAIRS=stone_brick_stairs
RED_SANDSTONE_STAIRS=cobblestone_stairs
SANDSTONE_STAIRS=stone_brick_stairs
SPRUCE_SLAB=dark_oak_slab
OAK_SLAB=spruce_slab
BRICK_SLAB=stone_brick_slab
RED_SANDSTONE_SLAB=cobblestone_slab
SANDSTONE_SLAB=stone_brick_slab
YELLOW_TERRACOTTA=magenta_concrete
MUSHROOM_STEM=air
