# 4.2
RED=stone
ORANGE=packed_ice
YELLOW=chiseled_stone_bricks
GREEN=snow_block
BLUE=andesite
PURPLE=packed_ice
MAGENTA=stone
WHITE=ice
BLACK=packed_ice
LIGHT_GRAY=gravel
GRAY=white_concrete_powder
LIGHT_BLUE=lapis_block
CYAN=coal_block
COBWEB=snow
LEAVES=air
VINES=air
GRASS=air
SPRUCE_LOG=dark_oak_log
SPRUCE_PLANKS=dark_oak_planks
OAK_LOG=bone_block
OAK_PLANKS=birch_planks
COBBLESTONE_WALL=cobblestone_wall
MOSSY_COBBLESTONE_WALL=cobblestone_wall
SPRUCE_STAIRS=quartz_stairs
OAK_STAIRS=birch_stairs
BRICK_STAIRS=dark_oak_stairs
RED_SANDSTONE_STAIRS=spruce_stairs
SANDSTONE_STAIRS=quartz_stairs
SPRUCE_SLAB=quartz_slab
OAK_SLAB=birch_slab
BRICK_SLAB=dark_oak_slab
RED_SANDSTONE_SLAB=spruce_slab
SANDSTONE_SLAB=quartz_slab
YELLOW_TERRACOTTA=packed_ice
MUSHROOM_STEM=bone_block
