# 4.4
RED=nether_bricks
ORANGE=red_nether_bricks
YELLOW=red_nether_bricks
GREEN=soul_sand
BLUE=magma_block
PURPLE=netherrack
MAGENTA=nether_bricks
WHITE=lava
BLACK=lava
LIGHT_GRAY=gravel
GRAY=gravel
LIGHT_BLUE=nether_quartz_ore
CYAN=chiseled_quartz_block
COBWEB=air
LEAVES=air
VINES=air
GRASS=mycelium
SPRUCE_LOG=acacia_bark
> spruce_axis=false
SPRUCE_PLANKS=dark_oak_planks
OAK_LOG=acacia_log
> oak_axis=air
OAK_PLANKS=spruce_planks
COBBLESTONE_WALL=nether_brick_fence
MOSSY_COBBLESTONE_WALL=cobblestone_wall
SPRUCE_STAIRS=dark_oak_stairs
OAK_STAIRS=spruce_stairs
BRICK_STAIRS=nether_brick_stairs
RED_SANDSTONE_STAIRS=nether_brick_stairs
SANDSTONE_STAIRS=sandstone_stairs
SPRUCE_SLAB=dark_oak_slab
OAK_SLAB=spruce_slab
BRICK_SLAB=nether_brick_slab
RED_SANDSTONE_SLAB=nether_brick_slab
SANDSTONE_SLAB=sandstone_slab
YELLOW_TERRACOTTA=nether_quartz_ore
MUSHROOM_STEM=nether_wart_block
