# 4.4
RED=lime_terracotta
ORANGE=green_terracotta
YELLOW=white_terracotta
GREEN=red_terracotta
BLUE=air
PURPLE=blue_terracotta
MAGENTA=light_blue_terracotta
WHITE=cyan_concrete_powder
BLACK=light_blue_concrete_powder
LIGHT_GRAY=light_gray_concrete_powder
GRAY=gray_concrete_powder
LIGHT_BLUE=lapis_block
CYAN=smooth_stone
COBWEB=air
LEAVES=air
VINES=air
GRASS=green_terracotta
SPRUCE_LOG=clay
> spruce_axis=air
SPRUCE_PLANKS=snow_block
OAK_LOG=bone_block
> oak_axis=air
OAK_PLANKS=birch_bark
COBBLESTONE_WALL=birch_fence
MOSSY_COBBLESTONE_WALL=spruce_fence
SPRUCE_STAIRS=quartz_stairs
OAK_STAIRS=birch_stairs
BRICK_STAIRS=quartz_stairs
RED_SANDSTONE_STAIRS=red_sandstone_stairs
SANDSTONE_STAIRS=red_sandstone_stairs
SPRUCE_SLAB=quartz_slab
OAK_SLAB=birch_slab
BRICK_SLAB=quartz_slab
RED_SANDSTONE_SLAB=red_sandstone_slab
SANDSTONE_SLAB=red_sandstone_slab
YELLOW_TERRACOTTA=quartz_block
MUSHROOM_STEM=air
