# 4.4
RED=cut_sandstone
ORANGE=smooth_sandstone
YELLOW=chiseled_sandstone
GREEN=sand
BLUE=red_sand
PURPLE=sandstone
MAGENTA=smooth_sandstone
WHITE=brown_carpet
BLACK=water
LIGHT_GRAY=sand
GRAY=red_sand
LIGHT_BLUE=gold_block
CYAN=lapis_block
COBWEB=air
LEAVES=air
VINES=air
GRASS=coarse_dirt
SPRUCE_LOG=birch_log
> spruce_axis=air
SPRUCE_PLANKS=birch_planks
OAK_LOG=acacia_log
> oak_axis=air
OAK_PLANKS=acacia_planks
COBBLESTONE_WALL=acacia_fence
MOSSY_COBBLESTONE_WALL=birch_fence
SPRUCE_STAIRS=birch_stairs
OAK_STAIRS=acacia_stairs
BRICK_STAIRS=sandstone_stairs
RED_SANDSTONE_STAIRS=sandstone_stairs
SANDSTONE_STAIRS=sandstone_stairs
SPRUCE_SLAB=birch_slab
OAK_SLAB=acacia_slab
BRICK_SLAB=sandstone_slab
RED_SANDSTONE_SLAB=sandstone_slab
SANDSTONE_SLAB=sandstone_slab
YELLOW_TERRACOTTA=magenta_concrete
MUSHROOM_STEM=air
