# 4.4
RED=cobblestone
ORANGE=mossy_cobblestone
YELLOW=chiseled_stone_bricks
GREEN=green_concrete_powder
BLUE=brown_concrete_powder
PURPLE=cobblestone
MAGENTA=stone
WHITE=water
BLACK=lava
LIGHT_GRAY=gravel
GRAY=gravel
LIGHT_BLUE=emerald_block
CYAN=lapis_block
COBWEB=cobweb
LEAVES=jungle_leaves
VINES=vine
GRASS=grass
SPRUCE_LOG=birch_log
> spruce_axis=air
SPRUCE_PLANKS=birch_planks
OAK_LOG=jungle_log
> oak_axis=air
OAK_PLANKS=jungle_planks
COBBLESTONE_WALL=jungle_fence
MOSSY_COBBLESTONE_WALL=birch_fence
SPRUCE_STAIRS=birch_stairs
OAK_STAIRS=jungle_stairs
BRICK_STAIRS=cobblestone_stairs
RED_SANDSTONE_STAIRS=cobblestone_stairs
SANDSTONE_STAIRS=cobblestone_stairs
SPRUCE_SLAB=birch_slab
OAK_SLAB=jungle_slab
BRICK_SLAB=cobblestone_slab
RED_SANDSTONE_SLAB=cobblestone_slab
SANDSTONE_SLAB=cobblestone_slab
YELLOW_TERRACOTTA=magenta_concrete
MUSHROOM_STEM=air
