# 4.4
RED=dark_oak_bark
ORANGE=spruce_bark
YELLOW=jungle_bark
GREEN=birch_bark
BLUE=oak_bark
PURPLE=spruce_bark
MAGENTA=dark_oak_bark
WHITE=water
BLACK=water
LIGHT_GRAY=brown_concrete_powder
GRAY=brown_concrete_powder
LIGHT_BLUE=emerald_block
CYAN=emerald_block
COBWEB=air
LEAVES=air
VINES=air
GRASS=grass
SPRUCE_LOG=spruce_log
> spruce_axis=true
SPRUCE_PLANKS=spruce_planks
OAK_LOG=dark_oak_log
> oak_axis=true
OAK_PLANKS=dark_oak_planks
COBBLESTONE_WALL=spruce_fence
MOSSY_COBBLESTONE_WALL=oak_fence
SPRUCE_STAIRS=spruce_stairs
OAK_STAIRS=oak_stairs
BRICK_STAIRS=dark_oak_stairs
RED_SANDSTONE_STAIRS=birch_stairs
SANDSTONE_STAIRS=birch_stairs
SPRUCE_SLAB=spruce_slab
OAK_SLAB=oak_slab
BRICK_SLAB=dark_oak_slab
RED_SANDSTONE_SLAB=birch_slab
SANDSTONE_SLAB=birch_slab
YELLOW_TERRACOTTA=bone_block
MUSHROOM_STEM=mushroom_stem
