# 4.4
RED=oak_log
ORANGE=spruce_log
YELLOW=oak_leaves
GREEN=oak_planks
BLUE=spruce_planks
PURPLE=dark_oak_log
MAGENTA=spruce_log
WHITE=water
BLACK=water
LIGHT_GRAY=brown_concrete_powder
GRAY=green_concrete_powder
LIGHT_BLUE=bone_block
CYAN=mushroom_stem
COBWEB=air
LEAVES=air
VINES=air
GRASS=grass
SPRUCE_LOG=stone_bricks
> spruce_axis=true
SPRUCE_PLANKS=stone
OAK_LOG=birch_log
> oak_axis=true
OAK_PLANKS=birch_planks
COBBLESTONE_WALL=oak_fence
MOSSY_COBBLESTONE_WALL=spruce_fence
SPRUCE_STAIRS=oak_stairs
OAK_STAIRS=spruce_stairs
BRICK_STAIRS=oak_stairs
RED_SANDSTONE_STAIRS=spruce_stairs
SANDSTONE_STAIRS=oak_stairs
SPRUCE_SLAB=oak_slab
OAK_SLAB=spruce_slab
BRICK_SLAB=oak_slab
RED_SANDSTONE_SLAB=spruce_slab
SANDSTONE_SLAB=oak_slab
YELLOW_TERRACOTTA=mushroom_stem
MUSHROOM_STEM=bone_block
